:root {
  --h1-font-color: #47664f;
  --h2-font-color: #eea79d;
  --links-color: #eea79d;
  --text-color: #4a4a4b;
  --background-color: #ffffff;
  --primary-font: "Rubik", sans-serif;
  --secondary-font: "Rubik", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
}
h1 {
  color: var(--h1-font-color);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
}

h2 {
  color: var(--h2-font-color);
  font-weight: 300;
  font-size: 42px;
  text-align: center;
}

h3 {
  color: var(--text-color);
  font-weight: 300;
  font-size: 22px;
  text-align: center;
}

h4 {
  color: var(--h1-font-color);
  font-size: 30px;
  padding-top: 25px;
}

.body {
  background-color: var(--background-color);
}

body-html {
  text-align: center;
}

.navbar {
  z-index: 1;
}

.h2-index {
  margin-top: 100px;
}

.link {
  display: block;
  padding: 10px 15px;
  margin: 50px auto;
  max-width: 140px;
  background-color: var(--links-color);
  font-size: 24px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  box-shadow: -3px 8px 25px 4px rgba(0, 0, 0, 0.1);
}

.link-resume {
  display: block;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 140px;
  background-color: var(--h1-font-color);
  font-size: 24px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  box-shadow: -3px 8px 25px 4px rgba(0, 0, 0, 0.1);
}

.link:hover {
  color: white;
}

.link-resume:hover {
  color: white;
}

.links {
  color: var(--text-color) !important;
  text-decoration: none;
}

.links:hover {
  color: #8b8b8b !important;
  transition: ease-in-out;
}

.active {
  color: var(--links-color) !important;
}

.navbar-icon {
  max-width: 35px;
}

.portrait {
  border-radius: 50%;
  max-width: 22%;
  margin: 25px auto;
  display: block;
}

.hello-part {
  text-align: left;
}
footer {
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
}

.footer-elements {
  display: flex;
}

.icon-div {
  display: flex;
  justify-content: center;
}

.social-media-icon {
  color: var(--h1-font-color);
  font-size: 30px;
  padding: 10px;
}

.col-icon {
  padding: 5px;
}

.footer-text {
  position: relative;
}

.footer-link {
  color: var(--links-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--links-color);
  text-decoration: none;
}

.about-text {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  text-align: justify;
  padding: 10px 150px;
  max-width: 90%;
}

.technologies-and-certificates {
  margin-top: 50px;
  margin-bottom: 35px;
}

.technologies {
  font-size: 56px;
  text-align: center;
  color: var(--h1-font-color);
}

.technologies-text {
  font-size: 12px;
  text-align: center;
  color: var(--text-color);
}

.small-portrait {
  border-radius: 50%;
  max-width: 40%;
  display: flex;
}

.certificate {
  max-width: 90%;
  margin-top: 25px;
  margin-bottom: 48px;
  text-align: center;
}

.resume-heading {
  padding-bottom: 15px;
}

.email-paragraph {
  padding-top: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.navbar-general {
  font-size: 24px;
  background-color: #fafafa !important;
  position: fixed;
  top: 0;
  width: 100% !important;
}

.card-main {
  margin: 10px;
}

.card {
  margin: 0 auto 18px;
}

.card-body {
  height: 160px;
}

.card-text {
  font-size: 12px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 24px;
    text-align: center;
  }
  h3 {
    font-size: 12px;
    text-align: center;
  }
  .portrait {
    display: none;
  }

  .link {
    display: block;
    margin: 40px auto;
  }
  .about-text {
    font-size: 12px;
    padding: 5px;
  }
  .technologies {
    font-size: 60px;
    text-align: center;
  }

  .icon-mobile {
    font-size: 125px;
    margin-top: 25px;
  }
  .technologies-and-certificates {
    margin-bottom: 0;
  }
  .certificate {
    margin-top: 9px;
    margin-bottom: 16px;
  }
  .card {
    margin: 0 5px 18px;
  }
  .small-portrait {
    display: block;
    padding: 10px;
    margin: 0 auto;
  }

  .icon-div {
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
  }
  .footer-text {
    display: block;
    text-align: center;
    position: static;
    margin: 0 auto;
  }
  .email-paragraph {
    text-align: center;
  }
}

@media (min-width: 576px) {
  .small-portrait {
    display: none;
  }
}
