:root {
  --h1-font-color: #47664f;
  --h2-font-color: #eea79d;
  --links-color: #eea79d;
  --text-color: #4a4a4b;
  --background-color: #ffffff;
  --primary-font: "Rubik", sans-serif;
  --secondary-font: "Rubik", sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--primary-font);
}
h1 {
  color: var(--h1-font-color);
  font-size: 43px;
  font-weight: 300;
}

h2 {
  color: var(--h2-font-color);
  font-weight: 300;
}

h3 {
  color: var(--text-color);
  font-weight: 300;
  font-size: 16px;
}

.body {
  background-color: var(--background-color);
  max-width: 90%;
  margin: 50px auto;
}

.link {
  display: block;
  padding: 10px 15px;
  margin-top: 25px;
  max-width: 120px;
  background-color: var(--links-color);
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  box-shadow: -3px 8px 25px 4px rgba(0, 0, 0, 0.1);
}

.link:hover {
  color: white;
}

.navbar-general {
  font-size: 24px;
}

.links {
  color: var(--text-color) !important;
  text-decoration: none;
}

.links:hover {
  color: #8b8b8b !important;
  transition: ease-in-out;
}

.links:active {
  text-decoration: underline;
}

.navbar-icon {
  max-width: 30px;
}

.portrait {
  border-radius: 50%;
  max-width: 40%;
  display: flex;
  position: relative;
  right: 70px;
}

footer {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-elements {
  display: flex;
}

.icon-div {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
}

.social-media-icon {
  color: var(--h1-font-color);
  font-size: 30px;
  padding: 10px 10px;
}

.footer-text {
  margin-left: 50px;
  position: relative;
  left: 18px;
}

.footer-link {
  color: var(--links-color);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--links-color);
  text-decoration: none;
}

@media (max-width: 576px) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 12px;
  }
}
